<h1>Bootcamp#New</h1>

  <%= simple_form_for [:admin, @bootcamp] do |f| %>
    <%= f.input :name, placeholder: 'TL Bootcamp Batch #' %>
    <%= f.input :startdate %>
    <%= f.input :enddate %>
    <%= f.input :description, placeholder: 'Enter notes for bootcamp here' %>
    <%= f.input :closingdate %>

    <%= f.button :submit %>
    <%= flash[:error] unless flash[:error].blank? %>
    <%= flash[:notice] unless flash[:notice].blank? %>
  <% end %>

  <hr>
<p><%= link_to "Back to Index", admin_bootcamps_path %></p>
