<h1>Bootcamps#show</h1>
  <p><%= flash[:notice] unless flash[:notice].blank? %></p>
  <hr>

  <p><%= @bootcamp.name %></p>
  <p><strong>Start date: </strong><%= @bootcamp.startdate %></p>
  <p><strong>End date: </strong><%= @bootcamp.enddate %></p>
  <p><strong>End date: </strong><%= @bootcamp.description %></p>
  <p><strong>Application Closing date: </strong><%= @bootcamp.closingdate %></p>

  <hr>
  <p><%= link_to "Back to Index", admin_bootcamps_path %></p>
  <p><%= link_to "Edit", edit_admin_bootcamp_path %></p>

